body{
  text-align: center;
}

#container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  background-color: black;
}

.outer{
  background-color: indigo;
  padding: 60px 30px;
}

#inner{
  background-color: yellow;
  padding: 55px;
}

#three{
  background-color: green;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;

}

