body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    padding: 0;
    flex-flow: row;
    height: 385px;
    width: 857px;
    background-color: #ffd62a;
    justify-content: flex-end;
    align-items: flex-end;
}

.item {
    height: 100px;
    width: 100px;
    background-color: #b02aff;
    list-style: none;
    padding: 0;
    margin: 0 0 0 5px;
}