
body{
  background-color: grey;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container{
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  max-width: 95%;
  min-height: 100px;
  margin: 20px auto;
  padding: 10px;
  gap: 10px;

}

.container div{
  padding: 45px;
}
.left{
  background-color:red;
}

.center{
  background-color: yellow;
}

.right{
  background-color: green;
}