.buttonCont{
  width: 600px;
  height: 400px;
  display: grid;
  background-color: rgb(29, 29, 231);
  grid-template-columns: repeat(3,1fr);
  align-items: center;
}

.btn{
  height: 40px;
  width: 120px;
  margin: 0 auto;
  border: none;
  border-radius: 5%;
  color: white;  
}
.btn:focus{
  outline:0;
}

.btn:hover{
  filter: brightness(110%);
}

.btn:active{
  filter: brightness(90%);
  border: none;
}

#blue{
  background: rgb(32,43,210);
  background: radial-gradient(circle, rgba(32,43,210,1) 0%, rgba(6,9,156,1) 100%);
  box-shadow: 0 4px 0 rgb(0, 0, 170);
}

#green{
  background: rgb(39,210,32);
  background: radial-gradient(circle, rgba(39,210,32,1) 0%, rgba(36,156,6,1) 100%);
  box-shadow: 0 4px 0 rgb(1, 104, 1);
}

#red{
  background: rgb(210,32,32);
  background: radial-gradient(circle, rgba(210,32,32,1) 0%, rgba(156,6,6,1) 100%);
  box-shadow: 0 4px 0 rgb(104, 0, 0);
}